[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tasklist
Exec=harbour-tasklist
Name=TaskList
# translation example:
# your app name in German locale (de)
#Name[de]=TaskList
